/* Base Settings */
html{
  box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
*{
  font-family: 'Poppins', sans-serif;
}
p{
  margin: 0;
}

/* End Base Settings */
/* Main Style */
body{
  background-color: #2f363e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin-top: 120px;
  margin-bottom: 120px;
}
.main__text{
  color: #fafafa;
  font-size: 32px;
}
